.imgPost {
    display: flex;
    flex-direction: column;

        .controls { 
            display: flex;
            justify-content: space-between;
            @extend .gray_font; 
            padding: 8px;
            .Name {
                @extend .dark_gray_font;
            }

            i {
                margin-right: 5px;
            }
        }

        .img_container img{
            width: 100%;
        }

    .gallery_indicator {
        position: relative;

        span {
            position: absolute;
            top: 5px;
            right: 2px;
            z-index: 100;
            color: aqua; 

        }
       
 
            i {
                float: right;
                padding-right: 10px; 
            }
        }
}


        
