.imgPost {
    display: flex;
    flex-direction: column;
    padding: 50px;

        .controls { 
            display: flex;
            justify-content: space-between;
            @extend .gray_font;
            padding: 8px; 
            
            .Name {
                @extend .dark_gray_font;
            }

            i {
                margin-right: 5px;
            }
        }
        
    .img_container img{
        width: 100%;
        margin-top: -20px;
    }

    .gallery_indicator {
        position: relative; 
        left: 0px; 
        top: 20px;     
        color: aqua; 
 
            i {
                float: right;
                padding-right: 10px; 
            }
        }
}