

.HeaderWrapper {
    width: 100%;
    @extend .spacebetween;
    align-items: center;
    height: 70px;
}
 
.HeaderWrapper div:nth-child(2) {
    margin-right: 30px;
}

.PageHeader {
    display: flex;
    padding: 10px;
    @extend .gray_font;
    font-size: 20px;

}