

.TargetDetails {

    padding: 10px;
    margin: 0px 0px 10px 0px;
    @extend .light_gray;

    .Thumbnail img {
        width: 70%;
        
        }

    h3 {
        margin: 10px 5px 5px 5px;
    }
    
    
    
}

