
.treeBranchGroup {
    //padding: 10px;
    @extend .Card;
    @extend .light_gray_border;
    border-radius: 10px;
}

.Branch_title {
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.treeBranchGroup_Parent {
    display: grid;
    grid-template-columns: auto auto;

    .member {
        margin: 1px;
    }
}

.treeBranchGroup_Child {
    display: grid;
    grid-template-columns: auto auto auto;

    .member {
        margin: 1px;
    }
}



.treeBranchGroup_Child_end {
    display: grid;
    justify-content: end
}

.treeBranchGroup_Child_center {
    display: grid;
    justify-content: center;
}

.treeBranchGroup_start {
    display: grid;
    justify-content: start;
}